#experiences{
    background-color: var(--red);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.exp-img-1{
    position: absolute;
    
}
.exp-img-2{
    position: absolute;
    
}
.timeline{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.timeline::before{
    content: "";
    width: 0px;
    height: 90%;
    border-left: 4px dashed var(--white);
    position: absolute;
    top: 5%;
    z-index: 1;
}
.timeline-item{
    display: flex;
    align-items: center;
    color: var(--white);
    position: relative;
    gap: 4%;
}

.timeline-item:nth-child(even){
    flex-direction: row-reverse;
}

.timeline-item:nth-child(even) .content {
    text-align: right;
}

.timeline-item:nth-child(even) .date {
    text-align: left;
}

.timeline-item .smile{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    
}

.timeline-item .smile .smile-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.timeline-item .date{
    flex: 1;
    text-align: right;
}
.timeline-item .content{
    flex: 1;
    text-align: left;
}

.timeline-item .content .company {
    font-family: var(--font-family-title);
    font-size: var(--font-sub-title);
    letter-spacing: 5px;
}