#experiences{
    background-color: var(--red);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp-img-1{
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 500px;
}
.exp-img-2{
    position: absolute;
    right: 0;
    top: 10%;
    width: 500px;
}