*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url('./../fonts/JetBrainsMono-VariableFont_wght.ttf');
}
:root{
    --font-family: "JetBrains Mono";

    --font-text: 16px;

    --black: #272727;
    --white: #f8f8f8;
    --blue: #223cb2;
    --red: #d11c1c;
    --green: #2b9422;
    --orange: #ff751f;
}
html{
    font-family: var(--font-family);
    scroll-behavior: smooth;
}
nav{
    background-color: var(--white);
    color: var(--black);
    position: sticky;
    top: 20px;
    width: 80%;
    height: 50px;
    left: 10%;
    padding: 5px;
    border-radius: 100px;
    border: 3px solid var(--black);
    box-shadow: 3px 3px 0px var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-decoration: none;
    color: var(--black);
}
.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: var(--black);
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}
.mobile-nav-toggle{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    margin: 10px;
}
.mobile-nav-toggle div{
    width: 20px;
    height: 3px;
    background-color: var(--black);
}
#hero{
    background-color: var(--blue);
    height: 100vh;
    width: 100%;
}
#experience{
    background-color: var(--red);
    height: 100vh;
    width: 100%;
}
#projects{
    background-color: var(--green);
    height: 100vh;
    width: 100%;
}
#contact{
    background-color: var(--orange);
    height: 100vh;
    width: 100%;
}
/* Extra Small Devices */
@media(max-width : 480px){
    nav{
        width: 90%;
        left: 5%;
    }
    .nav-links{
        display: none;
    }
}
/* Small Devices */
@media(max-width : 768px) and (min-width : 481px){
    nav{
        background-color: orange;
    }
    .nav-links{
        display: none;
    }
}
/* Medium Devices */
@media(max-width : 1024px) and (min-width : 769px){
    nav{
        background-color: black;
    }
    .nav-links{
        display: none;
    }
}
/* Large Devices */
@media(max-width : 1200px) and (min-width : 1025px){

}