*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url('./../fonts/JetBrainsMono-VariableFont_wght.ttf');
}
:root{
    --font-family: "JetBrains Mono";

    --font-text: 16px;

    --black: #272727;
    --white: #f8f8f8;
    --blue: #223cb2;
    --red: #d11c1c;
    --green: #2b9422;
    --orange: #ff751f;
}
body{
    font-family: var(--font-family);

}
#hero{
    background-color: var(--blue);
    height: 100vh;
    width: 100%;
}
#experience{
    background-color: var(--red);
    height: 100vh;
    width: 100%;
}
#projects{
    background-color: var(--green);
    height: 100vh;
    width: 100%;
}
#contact{
    background-color: var(--orange);
    height: 100vh;
    width: 100%;
}